/* 1. mobile (480px ~ 767px) */ 
@media all and (max-width:767px) {
	
	.pc {
		display: none !important ;
	}
    .wrap { 
        width: 88vw; 
        margin: 0 auto; 
    }   

/* __________________ 메인 __팝업창 __________________ */

    



    
    
/* Mobile __Style__End */ }




/* 2. tablet (768px ~ 1023px) */
@media all and (min-width:768px) and (max-width:1023px) {
    
    
    
    
/* tablet __Style__End */ }




/* 3. PC (1024px) */ 
@media all and (min-width:1024px) {
    
    
    
    
/* Pc __Style__End */ }



